<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
</head>
<body>
  <header>
    <div class="ribbon" aria-hidden="true"></div>
    <div class="info">
      <picture class="responsive-img">
        <source
        media="(min-width: 480px)"
        srcset="
        ../images/image1-768.jpg 1x,
        ../images/image1-1536.jpg 2x,
        ../images/image1-2304.jpg 3x
        "
        >
        <source
        srcset="
        ../images/image1-mobile-480.jpg 1x,
        ../images/image1-mobile-768.jpg 2x,
        ../images/image1-mobile-1024.jpg 3x
        "
        >
        <img src="../images/image1-mobile-480.jpg" alt="developer's picture">
        <div class="name playfair-display">Thomas Ghali</div>
      </picture>
      <section id="about">
        <h2 class="about__header playfair-display">About me</h2>
        <p class="about__info">
          I’m a self-driven web developer who transitioned into tech through 
          consistent learning and hands-on practice. With a strong foundation in HTML, 
          CSS, and JavaScript, I’ve built responsive, user-friendly websites while continuously 
          expanding my skills in modern frameworks and tools. My journey reflects persistence, 
          curiosity, and a commitment to building clean, functional web experiences.
        </p>
        <div class="about__contacts">
          <i class="devicon-twitter-original colored" aria-label="Twitter profile link"></i>
          <i class="devicon-github-original colored" aria-label="Github profile link"></i>
          <i class="devicon-linkedin-plain" aria-label="Linkedin profile link"></i>
        </div>
      </section>
    </div>
  </header>
  <main>
    <section id="projects">
      <h2 class="projects__header playfair-display">My work</h2>
      <div class="projects__container">

        <div class="project">
          <img src="../images/tic-tac-toe.png" alt="" class="project__img">
          <div class="project__info-wrapper">
            <div class="project__info">
              <div class="project__info-container">
                <span class="project__name ">Tic Tac Toe</span>
                <div class="project__links">
                  <img src="../images/open-in-new.svg" alt="open link" width="16px">
                  <i class="devicon-github-original colored" aria-label="Github profile link"></i>
                </div>
              </div>
              <p class="project__description">Conventional tic tac toe with vibrant colors, making the game even more fun</p>
            </div>
          </div>
          
        </div>

        <div class="project">
          <img src="../images/weather-app.png" alt="" class="project__img">
          <div class="project__info-wrapper">
            <div class="project__info">
              <div class="project__info-container">
                <span class="project__name ">Weather App</span>
                <div class="project__links">
                  <img src="../images/open-in-new.svg" alt="open link" width="16px">
                  <i class="devicon-github-original colored" aria-label="Github profile link"></i>
                </div>
              </div>
              <p class="project__description">Lightning fast detailed weather status. Including 7 days forward predictions.</p>
            </div>
          </div>
          
        </div>

        <div class="project">
          <img src="../images/sign-up-form.png" alt="" class="project__img">
          <div class="project__info-wrapper">
            <div class="project__info">
              <div class="project__info-container">
                <span class="project__name ">Sign-up Form</span>
                <div class="project__links">
                  <img src="../images/open-in-new.svg" alt="open link" width="16px">
                  <i class="devicon-github-original colored" aria-label="Github profile link"></i>
                </div>
              </div>
              <p class="project__description">Stylish, futuristic sign-up form with unique attractive design.</p>
            </div>
          </div>
          
        </div>

        <div class="project">
          <img src="../images/calc.png" alt="" class="project__img">
          <div class="project__info-wrapper">
            <div class="project__info">
              <div class="project__info-container">
                <span class="project__name ">Calculator</span>
                <div class="project__links">
                  <img src="../images/open-in-new.svg" alt="open link" width="16px">
                  <i class="devicon-github-original colored" aria-label="Github profile link"></i>
                </div>
              </div>
              <p class="project__description">A conventional standard calculator with comic touch of a funny meme.</p>
            </div>
          </div>
          
        </div>

        <div class="project">
          <img src="../images/library.png" alt="" class="project__img">
          <div class="project__info-wrapper">
            <div class="project__info">
              <div class="project__info-container">
                <span class="project__name ">Reads tracker</span>
                <div class="project__links">
                  <img src="../images/open-in-new.svg" alt="open link" width="16px">
                  <i class="devicon-github-original colored" aria-label="Github profile link"></i>
                </div>
              </div>
              <p class="project__description">This reads tracker will visualize the content you read, so that your progress looks as realistic as possible.</p>
            </div>
          </div>
          
        </div>

        <div class="project">
          <img src="../images/restaurant.png" alt="" class="project__img">
          <div class="project__info-wrapper">
            <div class="project__info">
              <div class="project__info-container">
                <span class="project__name ">Restaurant Page</span>
                <div class="project__links">
                  <img src="../images/open-in-new.svg" alt="open link" width="16px">
                  <i class="devicon-github-original colored" aria-label="Github profile link"></i>
                </div>
              </div>
              <p class="project__description">An ancient egyptian themed restaurant page with delicious authentic egyptian foods</p>
            </div>
          </div>
          
        </div>

      </div>
    </section>
  </main>
  <footer role="contentinfo">
    <section id="contact">
      <h2 class="contact__header playfair-display">Contact me</h2>
      <p class="contact__info">
        I’m always open to discussing new projects, collaborations, or opportunities. 
        Feel free to reach out—let’s build something great together.
      </p>
      <div class="contact__contacts">
        <i class="devicon-twitter-original colored" aria-label="Twitter profile link"></i>
        <i class="devicon-github-original colored" aria-label="Github profile link"></i>
        <i class="devicon-linkedin-plain" aria-label="Linkedin profile link"></i>
      </div>
    </section>
    <picture class="responsive-img">
      <source
      media="(min-width: 480px)"
      srcset="
      ../images/image2-768.jpg 1x,
      ../images/image2-1536.jpg 2x,
      ../images/image2-2304.jpg 3x
      "
      >
      <source
      srcset="
      ../images/image2-mobile-480.jpg 1x,
      ../images/image2-mobile-768.jpg 2x,
      ../images/image2-mobile-1024.jpg 3x
      "
      >
      <img src="../images/image2-mobile-480.jpg" alt="developer's picture">
    </picture>
  </footer>
</body>
</html>