<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
</head>
<body>
  <header>
    <div class="ribbon" aria-hidden="true"></div>
    <div class="info">
      <picture class="responsive-img">
        <source
        media="(min-width: 480px)"
        srcset="
        ../images/image1-768.jpg 1x,
        ../images/image1-1536.jpg 2x,
        ../images/image1-2304.jpg 3x
        "
        >
        <source
        srcset="
        ../images/image1-mobile-480.jpg 1x,
        ../images/image1-mobile-768.jpg 2x,
        ../images/image1-mobile-1024.jpg 3x
        "
        >
        <img src="../images/image1-mobile-480.jpg" alt="developer's picture">
      </picture>
      <section id="about">
        <h2 class="about__header">About me</h2>
        <p class="about__info">
          I’m a self-driven web developer who transitioned into tech through 
          consistent learning and hands-on practice. With a strong foundation in HTML, 
          CSS, and JavaScript, I’ve built responsive, user-friendly websites while continuously 
          expanding my skills in modern frameworks and tools. My journey reflects persistence, 
          curiosity, and a commitment to building clean, functional web experiences.
        </p>
        <div class="about__contacts">
          <i class="devicon-twitter-original colored" aria-label="Twitter profile link"></i>
          <i class="devicon-github-original colored" aria-label="Github profile link"></i>
          <i class="devicon-linkedin-plain" aria-label="Linkedin profile link"></i>
        </div>
      </section>
    </div>
  </header>
  <main>
    <section id="projects">
      <h2 class="projects__header">My work</h2>
      <div class="projects__container">

      </div>
    </section>
  </main>
  <footer role="contentinfo">
    <section id="contact">
      <h2 class="contact__header">Contact me</h2>
      <p class="contact__info">
        I’m always open to discussing new projects, collaborations, or opportunities. 
        Feel free to reach out—let’s build something great together.
      </p>
      <div class="contact__contacts">
        <i class="devicon-twitter-original colored" aria-label="Twitter profile link"></i>
        <i class="devicon-github-original colored" aria-label="Github profile link"></i>
        <i class="devicon-linkedin-plain" aria-label="Linkedin profile link"></i>
      </div>
    </section>
    <picture class="responsive-img">
      <source
      media="(min-width: 480px)"
      srcset="
      ../images/image2-768.jpg 1x,
      ../images/image2-1536.jpg 2x,
      ../images/image2-2304.jpg 3x
      "
      >
      <source
      srcset="
      ../images/image2-mobile-480.jpg 1x,
      ../images/image2-mobile-768.jpg 2x,
      ../images/image2-mobile-1024.jpg 3x
      "
      >
      <img src="../images/image2-mobile-480.jpg" alt="developer's picture">
    </picture>
  </footer>
</body>
</html>