/* ========================
   Font styles setting
======================== */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ========================
   CSS reset
======================== */
:root {
  --text-color-norm : rgb(64, 63, 63);
  --text-font-small : 0.65rem;
  --light-box-shadow: 0px 0px 5px 0px rgba(97, 95, 95, 0.619);;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
  height: 100%;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

hr {
  border: none;
  width: 60px;
  height: 4px;
  background-color: #7bb661;
  margin: 40px auto;
  border-radius: 10px;
}

/* ========================
   Header styling
======================== */

main {
  margin: 25px 0;
}

.ribbon {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1.5;
  z-index: -1;
  background-image: linear-gradient(150deg, #7bb661 70%, white 70% );
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsive-img1 {
  position: relative;
  margin: 8%;
  box-shadow: var(--light-box-shadow);
}

.name {
  position: absolute;
  bottom: 5%;
  font-size: clamp(2rem, 20vw, 3rem);
  text-align: center;
  width: 100%;
  color: rgb(236, 234, 234);
  text-shadow: 0px 0px 2px rgb(60, 60, 60);
}

#about {
  margin: 0px 10px 30px 10px;
}

.about__header, .about__info, .about__contacts {
  text-align: center;
  margin-top: 15px;
}

i {
  margin-left: 2%;
  cursor: pointer;
}

/* --- large mobile styling --- */

@media (min-width: 480px) and (max-width: 767px) {
  .ribbon {
    background-image: linear-gradient(150deg, #7bb661 60%, white 60% );
    aspect-ratio: 1/1.1;
  }
}
/* --- tablet styling --- */

@media (min-width: 768px) and (max-width: 1023px) {
  .ribbon {
    background-image: linear-gradient(160deg, #7bb661 60%, white 60% );
    aspect-ratio: 1/0.6;
  }

  .info {
    flex-direction: row;
    justify-content: center;
  }

  .responsive-img1 {
    width: 50vw;
    margin: 4%;
  }

  #about {
    background-color: azure;
    box-shadow: var(--light-box-shadow);
    width: max(400px, 40vw);
    height: max(400px, 40vw);
    padding: 15px;
    padding-left: 15vw;
    margin-left: -18vw;
  }

  .about__header {
    top: 50%;
  }
}

/* --- browser styling --- */

@media (min-width: 1024px) {
  .ribbon {
    background-image: linear-gradient(165deg, #7bb661 60%, white 60% );
    aspect-ratio: 1/0.5;
  }

  .info {
    flex-direction: row;
    justify-content: start;
  }

  .responsive-img1 {
    width: 40vw;
    margin: 4%;
  }

  #about {
    background-color: azure;
    box-shadow: var(--light-box-shadow);
    width: max(400px, 50vw);
    height: 300px;
    padding: 15px;
    padding-left: 10vw;
    margin-left: -10vw;
  }
}

  /* ========================
   Main styling
======================== */

.projects__header {
  text-align: center;
  margin-bottom: 20px;
}

.projects__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}  

.project {
  width: clamp(150px, 90vw, 450px);
  aspect-ratio: 1/1.5;
  box-shadow: var(--light-box-shadow);
}

.project__img {
  display: block;
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.project__info-wrapper {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__info {
  width: 97%;
  height: 98%;
  overflow: auto;
}

.project__info-container {
  display: flex;
  width: 97%;
  justify-content: space-between;
}

.project__name {
  font-family: 'Playfair Display';
}

.project__links {
  display: flex;
  align-items: center;
  gap: 8px;
}

.project__description {
  color: var(--text-color-norm);
  font-size: var(--text-font-small);
  max-height: 2.6rem;
  overflow: auto;
}

/* --- tablet styling --- */

@media (min-width: 768px) and (max-width: 1023px) {
  .projects__header {
    margin-bottom: 40px;
  }

  #projects {
    margin: 30px;
  }

  .projects__container {
    flex-flow: row wrap;
    column-gap: 20px;
    justify-content: center;
  }

  .project {
    width: clamp(250px, 35vw, 370px);
    aspect-ratio: 1/1.1;
  
  }
}

/* --- browser styling --- */

@media (min-width: 1024px) {
  .projects__header {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  #projects {
    margin: 30px;
  }

  .projects__container {
    flex-flow: row wrap;
    column-gap: 20px;
    justify-content: center;
  }

  .project {
    width: max(280px, 25vw);
    aspect-ratio: 1/1.1;
  }

  .projects__container{
    column-gap: 30px;
    row-gap: 50px;
  }  
  

}
  /* ========================
   Footer styling
======================== */

footer {
  margin-top: 70px;
  background: #7bb661;
}

#contact {
  padding: 20px 8px;
}

.contact__header {
  text-align: center;
  margin-bottom: 10px;
}

.contact__info {
  text-align: center;
}

.contact__links {
  margin-top: 15px;
  text-align: center;
}

.responsive-img2 {
  width: 100%;
}
.responsive-img2 img {
  width: 100%;
}

/* --- tablet styling --- */

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #contact {
    width: 50vw;
    height: 100%;
  }

  .responsive-img2 {
    width: 35vw;
    margin: 10px;
  }
}
